* {
  margin: 0px;
  padding: 0px;
}

.nav {
  display: flex;
  height: 60px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.nav-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 30%;
  justify-content: space-between;
}

.nav-links a {
  color: gray;
  text-decoration: none;
}

a.active {
  color: white;
}

.btn {
  color: white;
  background-color: teal;
  height: 30px;
  width: 90px;
  border: 3px solid black;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-card {
  border: 3px solid gray;
  width: 500px;
  height: 270px;
  padding: 40px 30px;
  background: linear-gradient(
    180deg,
    rgb(21, 130, 167) 25%,
    rgba(255, 255, 255, 1) 25%
  );
}

#user {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
}

.user-card h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

.location {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

#map {
  width: 15px;
}

.location h3 {
  margin-left: 10px;
}

h3 {
  font-size: 25px;
}

.edit {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

#gear {
  width: 19px;
  padding-right: 10px;
}

p {
  font-size: 18px;
}

.edit a {
  font-size: 18px;
}

.profile .col-1 {
  margin-left: 10%;
}

.education {
  border: 3px solid gray;
  width: 500px;
  height: 175px;
  padding: 0px 30px;
  background: linear-gradient(
    180deg,
    rgb(58, 58, 58) 27%,
    rgba(255, 255, 255, 1) 27%
  );
  margin-top: 40px;
}

.education h3 {
  padding: 8px 0px;
}

.education h2 {
  padding: 15px 0px 5px 0px;
}

.education h4 {
  padding: 10px 0px;
}

.profile .col-2 {
  margin-right: 10%;
  margin-left: 40px;
}

.requests {
  border: 3px solid gray;
  width: 300px;
  height: 200px;
  padding: 0px 30px;
  background: linear-gradient(
    180deg,
    rgb(58, 58, 58) 25%,
    rgba(255, 255, 255, 1) 25%
  );
  margin-bottom: 40px;
}

.requests h3 {
  padding: 8px 0px;
}

.requests .todd {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.todd p {
  font-size: 18px;
  margin-left: 10px;
  padding-right: 100px;
}

.phil p {
  font-size: 18px;
  margin-left: 10px;
  padding-right: 107px;
}

.requests .phil {
  display: flex;
  align-items: center;
}

.your {
  border: 3px solid gray;
  width: 300px;
  height: 380px;
  padding: 0px 30px;
  background: linear-gradient(
    180deg,
    rgb(58, 58, 58) 13%,
    rgba(255, 255, 255, 1) 13%
  );
}

.your h3 {
  padding: 8px 0px;
}

.your ul {
  padding: 15px 0px;
}

li {
  list-style-type: none;
  display: flex;
  padding: 6px 0px;
  align-items: center;
}

li p {
  margin-left: 10px;
  font-size: 18px;
}

.face {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid purple;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
}

a {
  font-size: 18px;
}
